
<div class="container">
    <H2>{{titulo}}</H2>
    <p style="text-align: center;"><img src="assets/img/pin.png"  class="imagenes2" alt=""></p>

    <p>        Se una persona apasionada por la vida en todos sus aspectos.                 </p>
    <p>        Desde temprana edad, cultiva un profundo amor por la naturaleza, la aventura y el descubrimiento. </p>
    <p>        Ten un espíritu inquieto para explorar diferentes rincones del mundo, desde las majestuosas montañas hasta las exuberantes selvas tropicales, siempre con una sonrisa en el rostro y los ojos llenos de asombro.</p>
    <p>        Haz que cada día sea una oportunidad para aprender algo nuevo, para sumergirse en nuevas experiencias y para conectar con las personas que la rodean. </p>
    <p>        Que la pasión por la vida se refleja en tu actitud positiva, en su energía contagiosa y en su capacidad para encontrar belleza en los momentos más simples.</p>
    <p>        Ya sea disfrutando de un amanecer en la playa, compartiendo historias alrededor de una fogata o ayudando a los demás a alcanzar sus sueños.</p>
    <p>El lema</p>
    <p> Hoy aquí estamos mañana no sabemos</p>
    <div class="form-group col-md-3">
        <img src="assets/img/ciberop.jpg" class="imagenes" alt="">
        <p>  </p>
        <img src="assets/img/ciberp2.jpg" class="imagenes" alt="">

    </div>
</div>
